[
 { elvis,
   [ { config,
       #{ src_dirs => ["src"]
        , rules    => [ { elvis_style
                        , line_length
                        , #{ limit => 80 }
                        }
                      , { elvis_style
                        , no_trailing_whitespace
                        , #{ ignore_empty_lines => true }
                        }
                      , { elvis_style
                        , no_tabs
                        }
                      %% , { elvis_style
                      %%   , operator_spaces
                      %%   , #{ rules => [ {right, "," }
                      %%                 , {right, "++"}
                      %%                 , {left , "++"}
                      %%                 ]
                      %%      }
                      %%   }
                      ]
        }
     }
   ]
 }
].
