{erl_opts             , [fail_on_warning, debug_info]}.
{cover_enabled        , true}.
{deps                 , [ {getopt,   "v0.8.2"}
                        , {jsx,      "2.8.0"}
                        , {lager,    "3.9.1"}
                        , {mustache, {git, "https://github.com/mojombo/mustache.erl.git", {tag, "v0.1.1"}}}
                        , {yamerl,   "v0.6.0"}
                        ]}.
{plugins              , [covertool, rebar3_proper]}.
{cover_export_enabled , true}.
{covertool_eunit      , {"eunit.coverdata", "eunit.coverage.xml"}}.
{covertool_ct         , {"ct.coverdata", "ct.coverage.xml"}}.
{eunit_opts           , [{report, {eunit_surefire, [{dir, "_build"}]}}]}.
{xref_checks          , [ undefined_function_calls
                        , undefined_functions
                        , locals_not_used
                        , deprecated_function_calls
                        , deprecated_functions
                        ]}.
{dialyzer, [ {check_plt, true}
           , {warnings, [unknown]}
           ]}.

{profiles     , [ {prod, [ {relx, [ {dev_mode, false}, {include_erts, true}]}]}
                , {test, [ { erl_opts, [ nowarn_export_all
                                       , nowarn_missing_spec_all
                                       ]
                           }
                         , { deps
                           , [ {jesse,          "1.5.5"}
                             , {meck,           "0.8.12"}
                             , {proper,         {git, "https://github.com/proper-testing/proper.git", {tag, "v1.3"}}}
                             , {proper_contrib, "0.3.2"}
                             , {redbug,         "1.2.1"}
                             , {elvis_core,     "0.4.2"}
                             ]
                           }
                         , { pre_hooks
                           , [ { compile
                               , "erl -pa _build/test/lib/*/ebin -noshell -eval 'init:stop(case elvis_core:rock() of ok -> 0; _ -> 1 end)'"
                               }
                             ]
                           }
                         ]
                  }
                ]}.

{minimum_otp_vsn, "21"}.
